#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 35%;
    bottom: 0;
    background: #eee;
}

#panel {
    position: absolute;
    top: 0;
    left: 65%;
    right: 0;
    bottom: 0;
    background: #eee;
    overflow-y: auto; 
}

.my-inputs table {
    table-layout: fixed;
    width: 100%;
}

#timeOptions table {
    width: 80%;
    margin-top: 1%;
}

#actions table {
    width: 80%;
    margin-top: 3%;
}

#actions table button {
    width: 100%;
}

.my-inputs table caption {
    font-weight: bold;
    margin: 3%;
}

.no-display {
    display: none;
}

.my-inputs input {
    display: block;
    padding: 0; 
    margin: 0; 
    border: 0; 
    width: 100%; 
    border-radius: 0; 
    line-height: 2;
    text-align: center;
}

.my-inputs input[type="file"] {
    display: none;
}

.my-inputs th {
    width: 10%;
}

.my-inputs td {
    margin: 0; 
    padding: 1px;
}

.my-inputs td button {
    display: block;
    margin:auto;
}