#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 35%;
    bottom: 0;
    background: #eee;
}

#panel {
    position: absolute;
    top: 0;
    left: 65%;
    right: 0;
    bottom: 0;
    background: #eee;
    overflow-y: auto; 
}

table {
    table-layout: fixed;
    width: 100%;
}

#actions table {
    width: 80%;
    margin: 3%;
}

table caption {
    font-weight: bold;
    margin-bottom: 3%;
}

input {
    display: block;
    padding: 0; 
    margin: 0; 
    border: 0; 
    width: 100%; 
    border-radius: 0; 
    line-height: 2;
    text-align: center;
}

td {
    margin: 0; 
    padding: 1px;
}

td button {
    display: block;
    margin:auto;
}
